[sshd]
enabled  = true
port     = {{ ssh_port | default(22) }}
maxretry = {{ fail2ban_ssh_maxretry | default(5) }}
findtime = {{ fail2ban_ssh_findtime | default(600) }}
bantime  = {{ fail2ban_ssh_bantime | default(3600) }}
